@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --bgGrey: #e5e5e5;
  --bgDarkGrey: #d5d5d5;
}

.LoginRegister {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.auth-form-container,
.login-form,
.register-form {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0.5rem;
  }
}

h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 60px;
  color: #2aa05d;
  margin-bottom: 3rem;
}

label {
  text-align: left;
  padding: 0.25rem 0;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  color: grey;
}

input {
  background-color: var(--bgGrey);
  margin: 0.5rem 0rem 1rem;
  padding: 1rem;
  border: none;
  border-radius: 20px;
  height: 2.5rem;
  font-size: 1rem;
}

.btn-main {
  align-self: center;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  color: white#7439db;
  /* position: absolute; */
  width: 280px;
  height: 48px;
  left: 75px;
  top: 529px;

  background: #2aa05d;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 106px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.link-btn {
  background: none;
  border: none;
  text-decoration: underline;
  padding: 5px;
  cursor: pointer;
}
